<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="onboardingAppV1">

	<listeners>
		<listener class-name="com.onboardingApp.utilities.Reporting" />
	</listeners>
	
	<test name="onboardingApp Test">
		<parameter name ="browser" value ="chrome"/>
		<classes>
			<!-- <class name="com.onboardingApp.testCases.TC_LoginTest_001" /> --> 
			<class name="com.onboardingApp.testCases.TC_AddCustomerTest_003" />

		</classes>	
	</test> 
	
</suite> <!-- Suite -->